<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<br>
<h1>Location Controller</h1>
Location Index <%= link_to 'Manage Location', locations_path %><br>
Location Manage <%= link_to 'Manage Location', manage_locations_path %>

<br>
<br>
<h1>User Controller</h1>
User Index <%= link_to 'User List',  users_path %><br>

<br>


<br>